<section class="image_section">
  {%- render 'section_title',url:collection.url -%}
    <div class="celeb-container">   
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide">
            {% if block.settings.sectionhead != blank %}
            {% endif %} 
            <img src="{{ block.settings.image | img_url: 'master' }}" alt="" class="collection_img lazyload" loading="lazy">
            {% if block.settings.smallimg != blank %}
              <a href="{{block.settings.product.url }}">
              <div class="jewel_img_box">
                <img
                  src="{{ block.settings.smallimg | img_url: 'master' }}"
                  class="j_img lazyload"
                  alt=""
                  loading="lazy"
                >
              </div>
              </a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
</section>

{% schema %}
{
  "name": "custom insta Slider",
  "class": "custom_insta",
  "settings": [
    {
        "type": "header",
        "content": "== Title Settings"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collection Grid"
      },
      {
        "type": "textarea",
        "id": "sub_title",
        "label": "Sub Text"
      },
      {
        "type": "select",
        "id": "sub_font",
        "default": "2",
        "options": [
         {
            "value": "1",
            "label": "Body font"
         },
         {
            "value": "2",
            "label": "Sub title font"
          }
        ],
        "label": "Sub Text use font:"
      },
      {
        "type": "text",
        "id": "btn_title",
        "label": "See All Title",
        "info":"only working with design title 10",
        "default": "See all products"
      },
      {
        "type": "image_picker",
        "id": "titleimg",
        "label": "Title image"
      },
      {
        "type": "select",
        "id": "style_title",
        "options": [
         {
            "value": "title_1",
            "label": "Design 1"
         },
         {
            "value": "title_2",
            "label": "Design 2"
          },
         {
            "value": "title_3",
            "label": "Design 3"
          },
         {
            "value": "title_4",
            "label": "Design 4"
          },
         {
            "value": "title_5 lazyload",
            "label": "Design 5"
          },
         {
            "value": "title_6",
            "label": "Design 6"
          },
         {
            "value": "title_7 +la",
            "label": "Design 7 (with line-awesome)"
          },
         {
            "value": "title_8",
            "label": "Design 8"
          },
         {
            "value": "title_9",
            "label": "Design 9"
          },
         {
            "value": "title_10",
            "label": "Design 10"
          },
         {
            "value": "title_11",
            "label": "Design 11"
          },
         {
            "value": "title_12",
            "label": "Design 12"
          },
         {
            "value": "title_13",
            "label": "Design 13"
          },
         {
            "value": "title_14",
            "label": "Design 14"
          }
        ],
        "label": "Design Title:"
      },
      {
        "type": "text",
        "id": "ic_tt",
        "label": "Style 7 icon line-awesome",
        "default": "gem"
      },
      {
        "type": "checkbox",
        "id": "show_clpr",
        "label": "Use icon color primary?",
        "default": false
      },
      {
        "type": "paragraph",
        "content": "[Get icons Line awesome](https://icons8.com/line-awesome)"
      },
  ],
  "blocks": [
    {
      "name": "block",
      "type": "text",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        },
        {
          "id": "smallimg",
          "type": "image_picker",
          "label": "Small img"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Add product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "custom insta Slider"
    }
  ]
}
{% endschema %}

<style>
 .custom_insta .image_section {
    max-width: 100%;
    padding: 60px 0px;
    background-color: #ffffff;
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
  }
  .custom_insta .collection_image {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 132.48px;
    align-items: center;
    justify-content: center;
  }
  .celeb-container{
    margin-top: 30px;
  }
  .custom_insta .name_text {
    font-family: IBM Plex Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #000000;
  }
  .custom_insta .name_text p {
    margin-bottom: 10px;
  }
  .custom_insta .heading_icons {
    margin-bottom: 20px;
  }
  .custom_insta .heading_icons .slider_heading {
    font-family: Ivy Mode;
    font-size: 64px;
    font-weight: 600;
    line-height: 94.95px;
    text-align: left;
    color: #0A1229;
  }
  .custom_insta .jewel_img_box {
    width: 120px;
    height: 120px;
    border: 4px solid #f6f5f3;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 85%;
    left: 6vw;
  }
  .custom_insta .jewel_img_box .j_img {
    object-position: center center;
  }
  .custom_insta .swiper-container {
    width: 100%;
    height: 100%;
    padding: 80px 0px 100px;
  }
  .custom_insta .collection_img {
    width: 100%;
    height: 100%;
  }
  @media (max-width: 1440px) {
    .custom_insta  .swiper-container {
      padding: 30px 0px;
    }
  }
  @media (max-width: 1300px) {
    .custom_insta  .jewel_img_box {
      width: 100px;
      height: 100px;
      left: 6.7vw;
    }
  }
  @media (max-width: 1024px) {
    .custom_insta  .heading_icons .slider_heading {
      font-size: 64px;
    }
  }
  @media (max-width: 1100px) {
    .custom_insta .jewel_img_box {
      width: 90px;
      height: 90px;
    }
  }
  @media (max-width: 991px) {
    .custom_insta .jewel_img_box {
      left: 10vw;
    }
  }
  @media (min-width: 769px) {
    .custom_insta .next-prev-btn {
      display: none;
    }
    .custom_insta .image_section{
      padding-bottom: 100px;
    }
  }
  @media (max-width: 768px) {
    .custom_insta .collection_logo {
      width: 15%;
      margin-bottom: 20px;
    }
    .custom_insta .jewel_img_box {
      left: 9vw;
    }
    .custom_insta .heading_icons .slider_heading {
      font-size: 64px;
    }
  }
  @media (max-width: 576px) {
    .custom_insta .jewel_img_box {
      left: 13vw;
    }
    .custom_insta .heading_icons .slider_heading {
      font-size: 40px;
    }
  }
  @media (max-width: 500px) {
    .custom_insta .jewel_img_box {
      left: 31vw;
      top: 90%;
    }
  }
  @media (max-width: 425px) {
    .custom_insta .collection_logo {
      width: 20%;
    }
    .custom_insta .jewel_img_box {
      left: 28vw;
      top: 85%;
    }
    .custom_insta .next-prev-btn {
      margin-top: 20%;
    }
  }
</style>

<script>
  $(document).ready(function () {
    new Swiper('.celeb-container', {
      slidesPerView: 5,
      spaceBetween: 15,
      breakpoints: {
        500: {
          slidesPerView: 1.2,
          spaceBetween: 15,
        },
        576: {
          slidesPerView: 2.2,
          spaceBetween: 15,
        },
        768: {
          slidesPerView: 3.2,
          spaceBetween: 15,
        },
        991: {
          slidesPerView: 3.2,
          spaceBetween: 15,
        },
        1028: {
          slidesPerView: 4.2,
          spaceBetween: 15,
        },
      },
    });
  });
</script>
