/* MEDIA QUERY  */

@media (max-width:1440px) {
    .Custom_banner_class .banner-box .banner-content {
        padding-left: 40px;
    }

    .Custom_banner_class .banner-box .banner-content {
        width: 60%;
    }
}
@media (max-width:1106px) {
    .custo_imgsection .content_heading {
        font-size: 48px;
        line-height: 50px;
    }
}
@media (max-width:1250px) {
    .Custom_banner_class .banner-box .banner-content {
        width: 70%;
    }
}
@media (max-width:1024px) {
    .Custom_banner_class .banner-box .heading-h1 {
        font-size: 80px;
        line-height: 87px;
    }

    .about_info_box {
        margin-top: 0;
    }

    .icon_main_heading {
        font-size: 14px;
    }

    .icon_main_subheading {
        font-size: 14px;
    }

    .Custom_banner_class .banner-box .banner-content {
        width: 75%;
    }

    .insta_mini_img_box {
        left: 6.5vw;
    }

    .about_content_box{
        padding-top: 6%;
    }
    .custo_imgsection .watch_img {
        width: 90%;
        height: 100%;
    }
}
@media (max-width:991px) {
    .corder-1 {
        order: 1;
    }

    .corder-2 {
        order: 2;
    }

    .about_flex {
        width: 50%;
        margin-top: 0;
    }

    .about_us_video {
        width: 80%;
        order: 3;
    }

    .cabout_section {
        padding-top: 40px;
    }
    .icon_main_heading{
        font-size: 20px;
    }
   .icon_main_subheading{
    font-size: 18px;
   }
}
@media (max-width:959px) {
    .custo_imgsection .content_heading {
        font-size: 40px;
        line-height: 40px;
    }

    .custo_imgsection .content_subtext {
        font-size: 18px;
        margin: 10px 0 40px;
    }
}
@media (max-width:829px) {

    .custo_imgsection .content_subtext {
        font-size: 16px;
        margin: 10px 0 40px;
        line-height: 20px;
    }
}
@media (max-width:768px) {
    .section-title {
        font-size: 48px !important;
        line-height: normal;
    }

    .custo_imgsection .custom_img,
    .custom_content_box {
        width: 100%;
        padding: 15px;
        text-align: center;
    }

    .custom_img_box {
        text-align: center;
    }

    .custo_imgsection .watch_img {
        width: 80%;
    }

    .custo_imgsection .content_heading {
        text-align: center;
    }

    .custo_imgsection .content_subtext {
        text-align: center;
    }

    .custo_imgsection .gray_box:after {
        width: 100%;
        height: 50%;
        top: 13vw;
    }

    .about_button_box {
        margin-top: 0;
        width: 100%;
    }

    .about_content {
        width: 100%;
    }

    .about_content .about_heading {
        font-size: 50px;
        line-height: normal;
    }
}
@media (max-width:719px) {
    .custo_imgsection .gray_box:after {
        height: 50%;
        top: 10vw;
    }
}
@media (max-width:767px) {
    .Custom_banner_class .banner_box_main::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        z-index: 2;
        bottom: 0;
        background: linear-gradient(180deg, #5b544a00, #000 97.43%);
    }

    .insta_mini_img_box {
        left: 13.5vw;
        width: 20vw;
        height: 20vw;
        bottom: -10vw;
    }
}
@media (max-width:699px) {
    .Custom_banner_class .banner-box .heading-h1 {
        font-size: 64px;
        line-height: 70px;
    }

    .Custom_banner_class .banner-box .banner-content {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        padding-top: 250px;
        padding-bottom: 0;
    }

    .button-arrow {
        display: none;
    }

    .Custom_banner_class .custom_banner_carousel .swiper-button-next {
        display: none;
    }

    .Custom_banner_class .custom_banner_carousel .swiper-button-prev {
        display: none;
    }

}
@media (max-width:599px) {
    .Custom_banner_class .banner-box .heading-h1 {
        font-size: 48px;
        line-height: 50px;
    }

    .section-title {
        font-size: 36px !important;
        line-height: 50px;
    }

    .margin_section {
        margin-bottom: 40px;
    }

    .collection_logos {
        margin-top: 20px;
    }

    .big_title_logo .collection_logos {
        margin-top: 40px;
    }

    .custo_imgsection .gray_box:after {
        height: 40%;
        top: 14vw;
    }
}
@media (max-width:576px) {

    .custo_imgsection .gray_box:after {
        height: 40%;
        top: 15vw;
    }

    .customwidth-container {
        padding: 0;
    }

    .about_content .about_p {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }

    .about_img_box {
        display: block;
    }
    .about_content{
        text-align: center;
    }
    .about_content .about_heading {
        text-align: center;
    }
    .about_button_box{
        justify-content: center;
    }
}
@media (max-width:529px) {
    .Custom_banner_class .banner-box .heading-h1 {
        font-size: 42px;
        line-height: 50px;
    }

    .Custom_banner_class .banner-box .banner-p {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 20px;
    }
}
@media (max-width:500px) {
    .insta_mini_img_box {
        left: 12.6vw;
    }

    .custo_imgsection .gray_box:after {
        height: 40%;
        top: 12vw;
    }
    .about_flex{
        width: 100%;
        justify-content: flex-start;
    }
    .about_us_video{
        width: 100%;
    }
    .about_us_info1 ,.about_us_info2 {
        width: 100%;
    }
}
@media (max-width:430px) {
    .insta_mini_img_box {
        left: 12.6vw;
    }

    .custo_imgsection .gray_box:after {
        height: 40%;
        top: 15vw;
    }

    .custo_imgsection .gray_box {
        padding: 0;
    }
    /* .icon_main_heading, .icon_main_subheading{
        font-size: 12px;
    }
    .about_content .about_heading{
        font-size: 40px;
    } */
   
}
@media (max-width:375px) {
    .Custom_banner_class .banner-box .heading-h1 {
        font-size: 36px;
        line-height: 40px;
    }

    .custo_imgsection .gray_box:after {
        top: 14vw;
    }
    .icon_main_heading, .icon_main_subheading{
        font-size: 10px;
        font-weight: bolder;

    }
    .about_content_box{
        padding-top: 0;
    }
    
}