.width-container {
    max-width: 1600px;
    padding: 15px;
    margin: 0 auto;
}

.custom_title_design {
    position: relative;
}

.collection_logos {
    width: 84px;
    margin-top: 35px;
    position: absolute;
    top: 50%;
}

.collection_logo {
    width: 84px;
    margin: 10px 0;
}

.margin_section {
    margin-bottom: 30px;
}

.line-through {
    text-decoration: line-through;
}

.compare_p {
    font-family: Lato !important;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #848484 !important;
}

.product-info .price_custom {
    font-family: Lato !important;
    font-size: 18px !important;
    font-weight: 700;
    line-height: 24px;
    color: #C0862B !important;
    margin-top: 10px;
}

.product-info .product-title {
    font-family: Lato !important;
    font-size: 18px !important;
    font-weight: 700 !important;
    letter-spacing: normal !important;
    text-transform: capitalize !important;
}

.product-info .product-title a {
    color: #000000 !important;
}

.view_more {
    border: 0 !important;
    background-color: #D0A570 !important;
}

.instafeed_custom {
    margin: 0 10px;
}

.section-title {
    font-family: Sorts Mill Goudy !important;
    font-size: 60px !important;
    font-weight: 400 !important;
    line-height: 110px;
    color: #000 !important;
    letter-spacing: normal !important;
}

.custom_section_title {
    font-family: "Sorts Mill Goudy", serif !important;
    font-size: 45px;
    font-weight: 400;
    text-align: center;
    color: black;
}

@media (max-width: 599px) {
    #shopify-section-featured_collection_mFBE6T .big_title_logo .collection_logos {
        margin-top: 20px;
    }
}

/* HEADER CSS  */

.login_button {
    background-color: #D0A570;
    color: #000;
    padding: 5px 25px;
    font-size: 18px;
    margin-left: 10px;
}

.fa-cart-shopping,
.fa-heart,
.iccl-search {
    color: #D0A570;
}

.header__mid .menu-item .heder_font_title {
    font-family: Poppins !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 24px;
    letter-spacing: 1px;
    transition: all 0.5s;
    text-transform: capitalize !important;
}

.header__mid .menu-item:hover .heder_font_title {
    text-transform: capitalize !important;
    color: #CAA45D !important;
}

.nt_menu>li>a {
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.top_bar {
    text-align: center;
}

.header_top_background {
    background: linear-gradient(90deg, #DDB16D 0%, #C0862B 46.5%, #D0A571 100%) !important;

}

.header__mid .container {
    max-width: 100% !important;
}

/* BANNER SLIDER SECTION  */

.Custom_banner_class .custom_banner_carousel .swiper {
    width: 100%;
    height: 100%;
}

.Custom_banner_class .custom_banner_carousel .swiper-slide {
    text-align: left;
    font-size: 18px;
    background: #fff;
}

.Custom_banner_class .custom_banner_carousel .custom_banner_section {
    width: 100%;
    background-position: center;
    background-size: cover;
}



.Custom_banner_class .banner-box .banner-content {
    width: 50%;
    padding-top: 100px;
    padding-bottom: 100px;
    z-index: 999;
    position: relative;
}

.Custom_banner_class .banner_box_main {
    background: #413d3ae0;
    position: relative;
    /* z-index: ; */
}

.Custom_banner_class .banner_box_main .men_img {
    position: absolute;
    z-index: 1;
    top: 0;
    height: 100%;
    right: 0;
    object-fit: cover;
}

.Custom_banner_class .banner-box .heading-h1 {
    font-family: Sorts Mill Goudy;
    font-size: 96px;
    font-weight: 400;
    line-height: 110px;
    color: #FFFFFF;
}

.Custom_banner_class .banner-box .banner-p {
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    margin: 20px 0;
    margin-bottom: 40px;
}

.Custom_banner_class .banner-box .banner-button {
    background: #FFFFFF;
    padding: 10px 20px;
    border: 0;
}

.Custom_banner_class .banner-box .banner-button .button-a {
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 23.46px;
    letter-spacing: 0.09em;
    text-align: center;
    color: #000000;
}

.Custom_banner_class .button-arrow {
    width: 50px;
    height: 80px;
    background-color: transparent;
    border-radius: 100px;
    text-align: center;
    line-height: 80px;
    margin-top: 30px;
    border: 1px solid #D0A570;
}

.Custom_banner_class .button-arrow .arrow {
    color: #D0A570;
}


.Custom_banner_class .swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    background: none;
}

.Custom_banner_class .swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    background: none;
}

.Custom_banner_class .custom_banner_carousel .swiper-button-next::after,
.swiper-rtl .swiper-button-prev::after {
    display: none !important;
    font-size: 0 !important;
}

.Custom_banner_class .custom_banner_carousel .swiper-button-prev::after,
.swiper-rtl .swiper-button-next::after {
    display: none !important;
    font-size: 0 !important;
}

.Custom_banner_class .custom_banner_carousel .swiper-button-next {
    font-size: 26px;
    color: #ffffff;
}

.Custom_banner_class .custom_banner_carousel .swiper-button-prev {
    font-size: 26px;
    color: #ffffff;
}



/* ABOUT US SECTION  */
.cabout_section {
    padding-top: 100px;
}

/* about upbox css  */
.about_up_mainbox {
    /* padding-top: 80px; */
    /* position: absolute; */
    margin: 0 auto;
}

.about_up_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* position: absolute; */
    /* top: -51%; */
}

.about_us_video {
    width: 50%;
    /* padding: 15px; */
}

/* .about_us_info1 {
    width: 20%;
    padding: 15px;

} */

/* .about_us_info2 {
    width: 20%;
    padding: 15px;
} */

.about_info {
    display: flex;
    /* align-items: center; */
    margin-bottom: 20px;
    /* justify-content: center; */
}

.about_video {
    width: 100%;
    height: 100%;
}

.about_video_box {
    border: 6px solid #ffffff;
    border-radius: 50px;
    overflow: hidden;
}

.about_info_box {
    margin-top: 50px;
}

.svgimg_about {
    width: 70%;
}

.about_flex {
    display: flex;
    width: 25%;
    justify-content: center;
    margin-top: 50px;
}

/* about down box css */
.about_down_box {
    background-position: bottom;
    background-repeat: no-repeat;
}

.about_content_box {
    display: flex;
    /* padding: 100px 0; */
    flex-wrap: wrap;
    padding-top: 3%;
    padding-bottom: 3%;
}

.about_content {
    width: 80%;
    padding: 15px;
}

.about_button_box {
    width: 20%;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 96px;
}

.about_content .about_heading {
    font-family: Sorts Mill Goudy;
    font-size: 60px;
    font-weight: 400;
    line-height: 110px;
    text-align: left;
    color: #fff;
}

.about_content .about_p {
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #FFFFFF;
}

.about_button_box .about_button {
    padding: 10px 20px;
    background: white;
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 23.46px;
    letter-spacing: 0.09em;
    text-align: center;
}

.icon_main_heading {
    font-family: IBM Plex Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #000000;
}

.icon_main_subheading {
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px;
    text-align: left;
    color: #848484;
}

.about_title {
    width: 84px;
    margin-bottom: 10px;
}

.about_img_box {
    display: none;
}

.icon_img {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #E9E8E4;
}

.icon_content {
    margin-left: 15px;
}

/* CUSTOM IMG WITH TEXT  */
.custo_imgsection .gray_box {
    padding: 0 50px;
    /* background-color: #E9E8E4; */
    position: relative;
    z-index: 1;
}

.customwidth-container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.custo_imgsection .gray_box::after {
    right: 0;
    position: absolute;
    content: "";
    width: 100%;
    height: 80%;
    top: 10%;
    bottom: 10%;
    background-color: #e9e8e4;
    z-index: -1;
    left: 0;
}


.custo_imgsection .contentimg_box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.custo_imgsection .watch_img {
    width: 80%;
    height: 100%;
}

.custo_imgsection .content_heading {
    font-family: Sorts Mill Goudy;
    font-size: 60px;
    font-weight: 400;
    line-height: 80px;
    text-align: left;
    color: #000000;
}

.custo_imgsection .content_subtext {
    font-family: Lato;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #000000;
    margin: 30px 0;
    margin-bottom: 50px;
}

.custo_imgsection .content_button {
    font-family: Lato;
    font-size: 18px;
    font-weight: 600;
    line-height: 23.46px;
    text-align: center;
    padding: 10px 30px;
    background-color: #D0A570;
}

.custo_imgsection .custom_img,
.custom_content_box {
    width: 50%;
    padding: 15px;
    /* padding: 50px 0; */
}

.custo_imgsection .custom_img {
    text-align: center;
}

/* FOOTER SECTION  */
.custom_news {
    border-bottom: 1px solid #fff !important;
    border-radius: 0 !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}

.footer__top .signup-newsletter-form input.input-text {
    color: #ffffff59 !important;
    font-size: 16px;
}

.footer__top .signup-newsletter-form .submit-btn {
    background-color: transparent !important;
}

.footer__top .signup-newsletter-form .submit-btn i {
    font-size: 18px;
}

.footer__top .widget-title {
    letter-spacing: 1px !important;
}

.footer__top .widget-title .txt_title {
    border-bottom: 2px solid #C0862B;
    padding-bottom: 5px;
}

.footer__top .menu-item a {
    font-size: 16px !important;
}

.footer__top a:hover {
    color: #CAA45D !important;
}


/* HIPHOP COLLECTION SECTION  */
.hiphopcollection .width-container {
    padding: 0 15px;
}

.hiphopsection {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.hiphopsection::after{
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: linear-gradient(90deg,#010102 55.08%,#030306b0 67%,#02020200);
    z-index: -1;
}

.hiphop_main_box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.hiphopimg_box,
.hiphopcollectionbox {
    width: 50%;
}

.hiphopimg_box .hiphop_img {
    width: 90%;
    height: 100%;
}

.hiphop_heading {
    font-family: Sorts Mill Goudy;
    font-size: 60px;
    font-weight: 400;
    line-height: normal;
    color: #ffffff;
}
.hiphop_margin{
    margin: 0 !important;
}

.hiphopcollection .product-info .product-title a {
    color: #ffffff !important;
}
.hiphopcollectionbox{
    padding: 20px 0;
}
.hiphopcollection .product-info .product-title{
    height: 50px;
    overflow: hidden;
}